mixin nav-link(path, label)
  a(href=`${appPath}${path}` class=(`${appPath}${req.path}` === `${appPath}${path}`) ? 'active': '')= label

nav
  +nav-link('/', "Dependency Flow")
  +nav-link('/resources', "Resource Sequences")
