mixin nav-link(path, label)
  a(href=path class=(`${appPath}${req.path}` === `${appPath}${path}`) ? 'active': '')= label

mixin definition-links(definitions, rootPath = '/')
  ul
    each definition in definitions
      - const pathSegment = definition.slug || slug(definition.name)
      - const fullPath = path.join(rootPath, pathSegment)
      
      li
        a(href=`${appPath}${fullPath}` class=(definitionPath(`${appPath}${req.path}`) === definitionPath(`${appPath}${fullPath}`)) ? 'active': '')= definition.name
        if definition.definitions
          +definition-links(definition.definitions, fullPath)
      
nav.component-definitions
  +definition-links(config.definitions)
  
nav.diagram-variants
  +nav-link(`${definitionPath(req.originalUrl)}`, "Dependency Flow")
  +nav-link(`${definitionPath(req.originalUrl)}/resources`, "Resource Sequences")
