mixin nav-link(path, label)
  a(href=path class=(`${appPath}${req.path}` === `${appPath}${path}`) ? 'active': '')= label

mixin definition-links(definitions, rootPath = '/')
  ul
    each definition in definitions
      - const pathSegment = definition.slug || slug(definition.name)
      - const fullPath = path.join(rootPath, pathSegment)
      
      li
        - const isActive = definitionPath(`${appPath}${req.path}`) === definitionPath(`${appPath}${fullPath}`)
        a(href=isActive ? null : `${appPath}${fullPath}` class=isActive ? 'active': '')= definition.name
        if definition.definitions
          +definition-links(definition.definitions, fullPath)
      
nav.component-definitions(class=(`${appPath}${req.path}` === `${appPath}/` ? 'open' : ''))
  h3 Definitions
  +definition-links(config.definitions)
  button(type="button" class="opening-button") open menu
  
nav.diagram-variants
  +nav-link(`${definitionPath(req.originalUrl)}`, "Dependency Flow")
  +nav-link(`${definitionPath(req.originalUrl)}/resources`, "Resource Sequences")
