<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title SCS Dependency Visualizer
    link(rel="stylesheet" href=`${appPath}/css/main.css`)
  body(class=(!!hideFilters ? 'hidden-filters' : ''))
    include nav
    main
      form.filters(action="#" method="GET")
        div.toggle-bar
          label.filter-toggle
            | hide filters
            input(type="checkbox" name="hide-filters" value="true" checked=(!!hideFilters))
      
        fieldset
          legend Components with Resources
          each resourceComponent, index in resourceComponents
            label
              = resourceComponent.name
              input(type="radio" name="selectedComponent" value=resourceComponent.name checked=(index === 0 && !selectedComponent ? true : resourceComponent.name === selectedComponent))
            br
    
        input(type="submit")
              
      
      div.resource-sequences!= rendered
      //- div.mermaid= rendered
      //- pre.debug-mermaid= rendered

    script(defer src=`${appPath}/scripts/mermaid.min.js`)
    script(defer src=`${appPath}/scripts/main.js`)
  
